<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body>
    <h1> Dojo Tweets </h1>
    <h1>Welcome {{user['first_name']}}</h1>
    <form action='/logout'>
    <input type='submit' class="btn btn-outline-primary" value='Log out'>
    </form>
    <a href="/follow"><button>Follow</button></a>
    <h2>Write a Tweet:</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}                           
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <form action='/on_tweet' method="POST">
            <textarea name='tweet_content' cols="30" rows='8'></textarea>
            <input type="submit" value='tweet!'>
        </form>
    </div>
    <h2>Your Tweet:</h2>
    <div>
    {% for tweet in tweets_of_followed_user%}
        <p>{{tweet['first_name']}} {{tweet['last_name']}} tweets_of_followed_user {{tweet['tweet']}} </p>
        {% if session['user_id'] == tweet.author %}
            <a href="/on_delete/{{tweet['id']}}"><button>Delete</button></a>
            <a href="/edit/{{tweet['id']}}"><button>Edit</button></a>         
        {% endif %}
            <a href="/details/{{tweet['id']}}"><button>Details</button></a>
        {% if tweet['id'] in liked_list  %}
            <a href="/unlike/{{tweet['id']}}"><button>Un_Like</button></a>
        {% else  %}
             <a href="/like/{{tweet['id']}}"><button>Like</button></a>
        {% endif %}
    {% endfor %}
    </div>
    
</body>
</html>